<%- include('partials/header') %> <%- include('navbar') %>
<div class="container">
  <form action="/Compose" method="get">
    <Button>Compose</Button>
  </form>
  <form action="/StudentList" method="get">
    <Button>Students List</Button>
  </form>
</div>

<%- include('partials/footer') %>