<%- include('partials/header') %> <%- include('FacultyNavbar') %>
<div class="container">
  <div class="container-fluid d-flex justify-content-between">
    <form action="/Compose" method="get">
      <Button>Add Student</Button>
    </form>
    <form action="/StudentList" method="get">
      <Button>Students List</Button>
    </form>
  </div>
  
</div>

<%- include('partials/footer') %>