<%- include('partials/header') %> <%- include('navbar') %>
<div class="container">
  <div class="d-flex c-flex">
    <div class="items">
      A division
    </div>
    <div class="items">
      B division
    </div>
    <div class="items">
      C division
    </div>
  </div>
</div>