<%- include('partials/header') %> <%- include('homenavbar') %>
<div class="container d-flex justify-content-center align-items-center vh-100">
    <h1>Welcome to the Attendance App</h1>
</div>
<%- include('partials/footer') %> 
